.auto-nav {
  display: flex;
  flex-direction: column;
}

.auto-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.auto-nav__item {
  border: 1px solid $grey;

  &:first-child,
  &:nth-child(2n) {
    border-right: none;
  }

  &--active {
    border: none;
    background-color: $basic-bright;
    color: $basic-white;
  }
}

.auto-nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 195px;
  height: 50px;
  text-decoration: none;
  font-size: 20px;
  color: $basic-text-color;
  text-align: center;

  &--active {
    color: $basic-white;
  }

  &:hover {
    opacity: 0.7;
  }
}

.auto-nav__details-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.auto-nav__details-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  border-bottom: 1px solid $grey;
  width: 565px;
  min-height: 50px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 8px;
}

.auto-nav__details-name {
  font-size: 16px;
}

.auto-nav__details-value {
  color: $basic-black;
}

.auto-nav__contacts {
  display: flex;
  flex-direction: row;
}

.auto-nav__contacts-title{
  margin: 0;
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 16px;
  color: $basic-dark;
}

.auto-nav__contacts-text {
  font-weight: 600;
  font-size: 14px;
  color: $basic-black;
  margin: 0;
  margin-top: 15px;
}

.auto-nav__contacts-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color: $basic-black;
  margin: 0;
  margin-top: 15px;
}

.auto-nav__contacts-map {
  width: 431px;
  height: 271px;
  margin: 0;
  margin-left: 74px;
}

.auto-nav__map-image {
  z-index: -1;
}
