.review {
  border: none;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  padding: 20px 0;

    &:first-child {
      padding: 0;
      padding-bottom: 20px;
    }
}

.review__author {
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.review__text {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
  padding-left: 19px;
}

.review__advantages {
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  color: $basic-black;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 5px;
  position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: -18px;
      width: 8px;
      height: 8px;
      background-image: url("../../img/plus-icon.svg");
      display: inline-block;
    }
}

.review__disadvantages {
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  color: $basic-black;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 5px;
  position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: -18px;
      width: 7px;
      height: 2px;
      background-image: url("../../img/minus-icon.svg");
      display: inline-block;
    }
}

.review__advantages-quote {
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  color: $basic-black;

    &::after,
    &::before {
      content: none;
    }
}

.review__disadvantages-quote {
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  color: $basic-black;

    &::after,
    &::before {
      content: none;
    }
}

.review__quote {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 14px;
  padding: 0;
}

.review__comment{
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  color: $basic-black;
}

.review__comment-text {
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  color: $basic-black;
  margin: 0;
  margin-bottom: 20px;
}

.review__rating {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
}

.review__rating-text {
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  color: $basic-bright;
  margin: 0;
  padding: 0;
  padding-left: 15px;
}

.review__star {
  width: 17px;
  height: 17px;
  margin: 0;
  margin-right: 5px;
  position: relative;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../../img/star-default.svg");
      width: 17px;
      height: 16px;
    }
}

.review__star--bright {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../../img/star-bright.svg");
    width: 17px;
    height: 16px;
  }
}

.review__details {
  display: flex;
  flex-direction: row;
}

.review__date {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color: $basic-black;
  opacity: 0.4;
}

.reviews__btn-answer {
  margin: 0;
  margin-left: 26px;

  border: none;
  font-weight: 400;
  font-size: 16px;
  color: $basic-bright;
  background: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  right: 0;

  &:hover {
      opacity: 0.8;
  }
  &:active {
      opacity: 0.7;
  }
}
