.site-navigation {
  display: flex;
  flex-wrap: wrap;
  min-width: 519px;
  margin: 0;
  margin-top: 28px;
  padding: 0;

  @media (min-width: $medium) and (max-width: $content-breakpoint) {
    min-width: auto;
  }
}

.site-navigation__item {
  font-weight: 600;
  list-style: none;
  margin: 0;
  margin-bottom: 31px;
  margin-right: 68px;

  @media (min-width: $medium) and (max-width: $content-breakpoint) {
    margin-right: 30px;
  }
}

.site-navigation__item:last-child {
  margin-right: 0;
}

.site-navigation__link {
  color: $basic-text-color;

  &:hover {
    color: $basic-bright;
    opacity: 0.3;
  }
  &:active {
    color: $basic-bright;
  }

  &--active {
    color: $basic-bright;
  }
}
