.slider__navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  margin-top: 35px;
}

.slider__btn {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  display: block;

  &:disabled svg .slider__btn-arrow{
    stroke: $grey;
  }
}

.slider__btn--previous {
  margin: 0;
  margin-right: 31px;
}

.slider__preview-img-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-right: 31px;
  padding: 0;
}

.slider__preview-img-item {
  margin: 0;
  margin-right: 25px;
  padding: 0;

  &:last-child{
    margin-right: 0;
  }
}
