//Viewports

$large: 1230px;
$content-breakpoint: 1169px;
$medium: 1024px;
$small: 768px;
$mobile: 320px;



//Project colors

$basic-white: #ffffff;
$basic-black: #000000;
$basic-text-color: #48494D;
$basic-bright: #D12136;
$basic-dark: #1A212F;
$background-color: #F5F5F9;
$grey: #D7D9DF;
$btn-default-color: #BD0C21;

// Fonts

$main-font: "Open Sans", "Arial", sans-serif;
